<!DOCTYPE html>
<html>
<head>
    <title>Spotify Song Recommendations</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='BEE-COMMENDER.png') }}" alt="BEE COMMENDER Logo">
    </header>
    </div>

    <table>
        {{ recommendations|safe }}
    </table>

    <form action="/new_recommendation" method="GET">
        <input type="submit" value="New Recommendation">
    </form>    

</body>
</html>
